@charset 'utf-8';
@import '~scss_vars';
#app {
	position: absolute;
	top: 0px;
	bottom: 0px;
	width: 100%;
}

.el-select .el-input {
  min-width: 120px;
}
  
.fade-enter-active,
.fade-leave-active {
	transition: all .2s ease;
}

.fade-enter,
.fade-leave-active {
	opacity: 0;
}

.l-toolbar {
	background: #f9f9f9;
	padding: 10px;
	/* border:1px solid #dfe6ec; */
	.el-form{
		margin-bottom: -10px;
	}
	.el-form-item {
		margin-bottom: 10px;
	}
}

.el-breadcrumb__separator{
	top: -2px; position: relative;
}
.el-breadcrumb__item__inner a:hover, 
.el-breadcrumb__item__inner:hover{
  color: #48576a;
  cursor: default;
}


.l-dialog{
  .el-dialog__header{
    background: #F9FAFC;
    padding: 15px;
    border-bottom: 1px solid #EFF2F7;
  }
  .el-dialog__body{
    padding: 15px;
  }
}
.l-panel-tit{font-weight: 700; border-bottom: 1px solid #EFF2F7; padding: 0 0 10px 0; margin-bottom: 10px;}
.l-inline-row{
  ._td{padding: 5px 20px 5px 0;/* white-space: nowrap; */ margin: 0; box-sizing: border-box;}
  p._td{
    display: inline-block; 
  }
}
.l-inline-row._25{
  ._td{width: 24%;}
}
.l-inline-row._33{
  ._td{width: 33%;}
}
.l-inline-row._50{
  ._td{width: 49%;}
}

.l-loading-body,
.el-loading-mask.is-fullscreen{background-color: rgba(0,0,0,0.05);}